.body {
    background-color: #DDBEA9;
}

.heading {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    color: green;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}