body {
    background-color: #f1faee;
}

.heading {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #1d3557;
    text-align: center;
}

.img {
    border-style: double;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    font-size: 35px;
    color: #457b9d;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hometitle {
    text-align: center;
}

.menu {
    color: #1d3557;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}