.body {
    background-color: #DDBEA9;
}

.heading {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

.title {
    font-size: 35px;
    color: green;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}